@model EDnevnik.Models.Izostanak

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Izostanak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opravdan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opravdan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.ImePrezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predmet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predmet.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IzostanakId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
