@model IEnumerable<EDnevnik.Models.Izostanak>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opravdan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucenik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predmet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opravdan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucenik.KorisnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predmet.PredmetId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IzostanakId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IzostanakId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IzostanakId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
